<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jakedowns.VLC3D" xmlns:tools="http://schemas.android.com/tools" android:installLocation="preferExternal">
  <uses-sdk tools:overrideLibrary="com.nreal.glasses_sdk" />
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:extractNativeLibs="true" android:exported="true" android:targetPackage="com.unity3d.player.UnityPlayerActivity">
    <service android:name="com.kdg.toast.plugin.PedometerService" android:permission="android.permission.BIND_JOB_SERVICE" />
    <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true" />
    <activity android:name=".VLC3DActivity" android:exported="true" android:label="com.unity.player.UnityPlayerActivity" android:screenOrientation="portrait" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density" android:resizeableActivity="false" android:hardwareAccelerated="false" android:showOnLockScreen="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!--</activity>
    <activity
            android:enabled="true"
            android:exported="true"
            android:name=".player.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:finishOnTaskLaunch="true"
            android:taskAffinity="archos.task.video"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/video"
            android:theme="@style/ArchosThemeBlueOverlay" >-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.LAUNCHER" />
        <data android:scheme="rtmp" />
        <data android:scheme="rtmpe" />
        <data android:scheme="rtmps" />
        <data android:scheme="rtp" />
        <data android:scheme="rtsp" />
        <data android:scheme="mms" />
        <data android:scheme="mmst" />
        <data android:scheme="mmsh" />
        <data android:scheme="httplive" />
        <data android:scheme="udp" />
      </intent-filter>
      <!-- data android:pathPattern=".*.mkv" /-->
      <!--
            see https://github.com/guardianproject/securereader/blob/master/app/src/main/AndroidManifest.xml
            -->
      <!--
            To match all files with a specific file ending, you have to use this
            craziness because of Android limitations in their regex parser
            https://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension
            https://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i/8599921
            -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.LAUNCHER" />
        <data android:scheme="file" />
        <data android:scheme="content" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" />
        <data android:mimeType="video/*" />
        <data android:mimeType="application/sdp" />
        <data android:mimeType="application/mp4" />
        <data android:mimeType="application/vnd.apple.mpegurl" />
        <data android:mimeType="application/vnd.apple.mpegurl.audio" />
        <data android:mimeType="application/vnd.rn-realmedia" />
        <data android:mimeType="application/vnd.rn-realmedia-vbr" />
        <data android:mimeType="application/mpegurl" />
        <data android:mimeType="application/x-mpegurl" />
        <data android:mimeType="application/ogg" />
        <data android:mimeType="application/x-ogg" />
        <data android:mimeType="audio/mpegurl" />
        <data android:mimeType="audio/x-mpegurl" />
        <data android:mimeType="application/x-shockwave-flash" />
      </intent-filter>
      <!--
            such ugly explicit matching is required because Android primitive PatternMatcher where <data android:pathPattern=".*\\.mkv" />
            stops matching at the first '.' encountered...
            use script in AVP/script/generatePAthPattern.sh to regenerate
            -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.LAUNCHER" />
        <data android:scheme="content" />
        <data android:scheme="file" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:scheme="ftp" />
        <data android:host="*" />
        <data android:mimeType="video/*" />
        <data android:mimeType="application/*" />
        <data android:pathPattern=".*\\.3g2" />
        <data android:pathPattern=".*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\.3gp" />
        <data android:pathPattern=".*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\.asf" />
        <data android:pathPattern=".*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\.avi" />
        <data android:pathPattern=".*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\.divx" />
        <data android:pathPattern=".*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\.flv" />
        <data android:pathPattern=".*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\.f4v" />
        <data android:pathPattern=".*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\.qt" />
        <data android:pathPattern=".*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\.m4v" />
        <data android:pathPattern=".*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\.mtv" />
        <data android:pathPattern=".*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\.mkv" />
        <data android:pathPattern=".*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\.mp4" />
        <data android:pathPattern=".*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\.mpe" />
        <data android:pathPattern=".*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\.mpg" />
        <data android:pathPattern=".*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\.mov" />
        <data android:pathPattern=".*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\.ogm" />
        <data android:pathPattern=".*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\.ogv" />
        <data android:pathPattern=".*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\.ogx" />
        <data android:pathPattern=".*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\.vob" />
        <data android:pathPattern=".*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\.wtv" />
        <data android:pathPattern=".*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\.webm" />
        <data android:pathPattern=".*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\.3G2" />
        <data android:pathPattern=".*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\.3GP" />
        <data android:pathPattern=".*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\.ASF" />
        <data android:pathPattern=".*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\.AVI" />
        <data android:pathPattern=".*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\.FLV" />
        <data android:pathPattern=".*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\.F4V" />
        <data android:pathPattern=".*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\.QT" />
        <data android:pathPattern=".*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\.M4V" />
        <data android:pathPattern=".*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\.MTV" />
        <data android:pathPattern=".*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\.MKV" />
        <data android:pathPattern=".*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\.MP4" />
        <data android:pathPattern=".*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\.MPE" />
        <data android:pathPattern=".*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\.MPG" />
        <data android:pathPattern=".*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\.MOV" />
        <data android:pathPattern=".*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\.OGV" />
        <data android:pathPattern=".*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\.VOB" />
        <data android:pathPattern=".*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\.WTV" />
        <data android:pathPattern=".*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.WEBM" />
      </intent-filter>
      <!--
        Need to repeat it all over again for the applications not declaring any mimeType
      -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.LAUNCHER" />
        <data android:scheme="content" />
        <data android:scheme="file" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:scheme="ftp" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.3g2" />
        <data android:pathPattern=".*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3g2" />
        <data android:pathPattern=".*\\.3gp" />
        <data android:pathPattern=".*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gp" />
        <data android:pathPattern=".*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gp2" />
        <data android:pathPattern=".*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3gpp" />
        <data android:pathPattern=".*\\.asf" />
        <data android:pathPattern=".*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.asf" />
        <data android:pathPattern=".*\\.avi" />
        <data android:pathPattern=".*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.avi" />
        <data android:pathPattern=".*\\.divx" />
        <data android:pathPattern=".*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.divx" />
        <data android:pathPattern=".*\\.flv" />
        <data android:pathPattern=".*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.flv" />
        <data android:pathPattern=".*\\.f4v" />
        <data android:pathPattern=".*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.f4v" />
        <data android:pathPattern=".*\\.qt" />
        <data android:pathPattern=".*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.qt" />
        <data android:pathPattern=".*\\.m4v" />
        <data android:pathPattern=".*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.m4v" />
        <data android:pathPattern=".*\\.mtv" />
        <data android:pathPattern=".*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mtv" />
        <data android:pathPattern=".*\\.mkv" />
        <data android:pathPattern=".*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mkv" />
        <data android:pathPattern=".*\\.mp4" />
        <data android:pathPattern=".*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp4" />
        <data android:pathPattern=".*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpeg" />
        <data android:pathPattern=".*\\.mpe" />
        <data android:pathPattern=".*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpe" />
        <data android:pathPattern=".*\\.mpg" />
        <data android:pathPattern=".*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mpg" />
        <data android:pathPattern=".*\\.mov" />
        <data android:pathPattern=".*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mov" />
        <data android:pathPattern=".*\\.ogm" />
        <data android:pathPattern=".*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogm" />
        <data android:pathPattern=".*\\.ogv" />
        <data android:pathPattern=".*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogv" />
        <data android:pathPattern=".*\\.ogx" />
        <data android:pathPattern=".*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ogx" />
        <data android:pathPattern=".*\\.vob" />
        <data android:pathPattern=".*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.vob" />
        <data android:pathPattern=".*\\.wtv" />
        <data android:pathPattern=".*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.wtv" />
        <data android:pathPattern=".*\\.webm" />
        <data android:pathPattern=".*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.webm" />
        <data android:pathPattern=".*\\.3G2" />
        <data android:pathPattern=".*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3G2" />
        <data android:pathPattern=".*\\.3GP" />
        <data android:pathPattern=".*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GP" />
        <data android:pathPattern=".*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GP2" />
        <data android:pathPattern=".*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.3GPP" />
        <data android:pathPattern=".*\\.ASF" />
        <data android:pathPattern=".*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ASF" />
        <data android:pathPattern=".*\\.AVI" />
        <data android:pathPattern=".*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.AVI" />
        <data android:pathPattern=".*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.DIVX" />
        <data android:pathPattern=".*\\.FLV" />
        <data android:pathPattern=".*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.FLV" />
        <data android:pathPattern=".*\\.F4V" />
        <data android:pathPattern=".*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.F4V" />
        <data android:pathPattern=".*\\.QT" />
        <data android:pathPattern=".*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.QT" />
        <data android:pathPattern=".*\\.M4V" />
        <data android:pathPattern=".*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.M4V" />
        <data android:pathPattern=".*\\.MTV" />
        <data android:pathPattern=".*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MTV" />
        <data android:pathPattern=".*\\.MKV" />
        <data android:pathPattern=".*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MKV" />
        <data android:pathPattern=".*\\.MP4" />
        <data android:pathPattern=".*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MP4" />
        <data android:pathPattern=".*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPEG" />
        <data android:pathPattern=".*\\.MPE" />
        <data android:pathPattern=".*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPE" />
        <data android:pathPattern=".*\\.MPG" />
        <data android:pathPattern=".*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MPG" />
        <data android:pathPattern=".*\\.MOV" />
        <data android:pathPattern=".*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.MOV" />
        <data android:pathPattern=".*\\.OGV" />
        <data android:pathPattern=".*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.OGV" />
        <data android:pathPattern=".*\\.VOB" />
        <data android:pathPattern=".*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.VOB" />
        <data android:pathPattern=".*\\.WTV" />
        <data android:pathPattern=".*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.WTV" />
        <data android:pathPattern=".*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.WEBM" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.WEBM" />
      </intent-filter>
      <!--<intent-filter>
        <action android:name="archos.intent.action.RESUME_VIDEOPLAYER" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="video/*" />
        <data android:mimeType="application/x-shockwave-flash" />
      </intent-filter>-->
    </activity>
    <meta-data android:name="nreal_sdk" android:value="true" />
    <meta-data android:name="com.nreal.supportDevices" android:value="NrealLight|NrealAir" />
  </application>
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
</manifest>